canvas {
  height: 400px; /* Adjust the height as needed */
}

.charts-container {
  min-height: calc(100vh - 400px);
}

@media print {
  /* Adjust margins and other styles for printing */
  body {
    margin: 0;
  }
  .charts-container {
    /* Set appropriate width and height to fit content on one page */
    width: 100%;
    height: 100%;
  }
  /* Adjust other styles as needed */
}
