canvas {
  height: 400px; /* Adjust the height as needed */
}

.charts-container {
  min-height: calc(100vh - 400px);
}

@media print {
  /* Adjust the size of the printed content here */
  #bar-chart-container {
    width: 100%; /* Set the width to fit the page */
    height: auto; /* Set the height to auto to maintain aspect ratio */
    margin: 0 auto; /* Add margin to center the content on the page */
    page-break-before: always; /* Ensure the chart starts on a new page */
  }
}

