.charts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-auto-rows: auto; /* Automatically adjust row height */
  gap: 20px; /* Gap between grid items */
  width: 100%; /* Take up 100% of the page width */
}

.bar-chart-container, .doughnut-chart-container {
  width: 100%; /* Each chart container takes up 100% width */
}

.doughnut-chart-container {
  max-width: 500px; /* Set a maximum width for the doughnut charts */
}

